@charset "UTF-8";
/**
 * 
 * @authors Tom Hu (h1994st@gmail.com)
 * @date    2014-02-16 15:24:10
 * @version 1.0
 */
body {
  padding-top: 50px;
}
html, body, main, 
main > .row, 
main > .row > div {
  height: 100%;
}
body {

}
main {
  padding-bottom: 80px;
  margin: 0 auto -80px;
}
footer {

}

main > .row > .col-sm-3,
main > .row > .col-sm-9 {
  overflow-y: auto; 
}
main > .row > .col-sm-3 {
  z-index: 1;
}
main > .row > .col-sm-9 {
  z-index: 2;
  padding-left: 75px;
}