{% extends "base.html" %}

{% block home_class %}active{% endblock %}

{% block title %}
Co-Trip
{% endblock %}

{% block main_content %}

    <div class="jumbotron">
			<h1>welcome to Co-Trip</h1>
		    <p>this is the home page for Co-Trip</p>

	        <p>{{ user.username }}, welcome back
          <p><a href="plan/create">create</a>.</p>
          <p><a href="about">about</a>.</p>
          <p><a href="accounts/profile">profile</a>.</p>
          <p><a href="follow/users">friend</a>.</p>

		</div>


{% endblock %}