{% extends 'base.html' %}
{% load plantags %}

{% block title %}Co-Trip{% endblock %}

{% block css_link %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/about.css">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/Co-Trip.css">
{% endblock %}

{% block main_content %}
{% get_following_plan user %}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/about.js"></script>

{% endblock %}
