{% extends "base.html" %}
{% load i18n %}
{% load url from future %} 

{% block title %}站内信 | Co-Trip{% endblock %}

{% block css_link %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
{% endblock %}

{% block main_content %}
<div class="notification-nav-tabs">
  <ul class="nav nav-tabs" id="main-tabs">
    <li class="active"><a href="#messages">站内信</a></li>
    <li><a href="/notifications/">消息</a></li>
    <li class="pull-right"><button type="button" class="btn btn-default" data-toggle="clear_notification">Mark all as read</button></li>
  </ul>
</div><!-- #main-tabs -->

<div class="row" id="nav-tab-contents">
  <div class="col-sm-3">
    {% block side_tab_bar %}
      
    {% endblock %}
  </div>
        
  <div class="col-sm-9">
    {% block tab_contents %}
      
    {% endblock %}
  </div><!-- /right-contents -->
</div><!-- #nav-tab-contents -->
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/messages.js"></script>
{% endblock %}