{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load url from future %}

{% block side_tab_bar %}
<div>
  <a href="/messages/compose/" id="new" class="btn btn-danger btn-lg btn-block">
    新信件
  </a>
</div>
  
<ul class="nav nav-pills nav-stacked CT-sidetabbar" id="messages-tabs">
  <li class="active">
    <a href="#inbox" data-toggle="pill">
      <span class="badge pull-right" id="inbox-badge"></span>
      收件箱
    </a>
  </li><!-- /left-side-bar-column -->
  <li>
    <a href="#sent" data-toggle="pill">
      已发送
    </a>
  </li><!-- /left-side-bar-column -->
  <li>
    <a href="#trash" data-toggle="pill">
      垃圾箱
    </a>
  </li><!-- /left-side-bar-column -->
</ul><!-- /left-side-bar -->
{% endblock %}

{% block tab_contents %}
<div class="tab-content">
  <div class="tab-pane active fade in" id="inbox">
    <ul class="media-list CT-list" id="inbox-list">
       
    </ul>
  </div><!-- /#inbox -->

  <div class="tab-pane fade" id="sent">
    <ul class="media-list CT-list" id="sent-list">
      
    </ul>
  </div><!-- /#sent -->

  <div class="tab-pane fade" id="trash">
    <ul class="media-list CT-list" id="trash-list">
      
    </ul>
  </div><!-- /#trash -->
</div>
{% endblock %}