{% extends "base.html" %}
{% load avatartags %}
{% load friendshiptags %}
{% load url from future %}

{% block title %}
    我的主页
{% endblock %}


{% block main_content %}


    <img src="{% get_avatar user 100 %}"/>

    <p> {{ traveller.user.username }}</p>

    <p>birthday {{ traveller.birthday}}</p>
    <p>gender {{ traveller.gender  }}</p>

    <p>followers:</p>
    {% followers traveller.user %}

    <p>following:</p>
    {% following traveller.user %}


    <br><br><br><br><p>created plans:</p>
    {% for plan in created_plans %}
    <p><a href="{{ plan.get_absolute_url }}">{{ plan.title }}</a></p>
    {% endfor %}

    <p>participated plan:</p>
    {% for plan in participated_plans %}
    <p><a href=>{{ plan.title }}</a></p>
    {% endfor %}

{% if is_current_user%}


    <p><br><br><br><br><br><a href="/accounts/profile/edit">edit</a></p>

{% else %}
    <p><br><br><br><br><br><a href="/follow/follower/add/{{ traveller.user.username }}">follow</a></p>
{% endif %}





{% endblock %}
