{% extends 'base.html' %}
{% load avatartags %}
{% load friendshiptags %}
{% block title %}我的主页{% endblock %}

{% block css_link %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}profile.css">
{% endblock %}


{% block main_content %}

    <header class="jumbotron">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="{% get_avatar user 100 %}" alt="{{ traveller.user.username }}">
          </a>
          <div class="media-body">
            <h2 class="media-heading">{{ traveller.user.username }}</h2>

            <div class="pull-middle">
              <p>关注者:</p>
                    {% following traveller.user %}

              <p>粉丝:</p>
                    {% followers traveller.user %}

            </div>
            <div>

{% if is_current_user%}


    <p><br><br><br><br><br><a href="/accounts/profile/edit">edit</a></p>

{% else %}
    <button class="btn btn-default" data-username="{{ traveller.user.username }}" id="follow-or-not" data-action="add">关注</button>
{% endif %}



            </div>
          </div>
        </div>
      </header>
      <div class="row">

      </div>
    创建过的计划：
    {% for plan in created_plans %}
    <p><a href="{{ plan.get_absolute_url }}">{{ plan.title }}</a></p>
    {% endfor %}
            参与过的计划：
    {% for plan in participated_plans %}
    <p><a href="{{ plan.get_absolute_url }}">{{ plan.title }}</a></p>
    {% endfor %}
{% endblock %}

{% block js%}
    <script type="text/javascript" src="{{ STATIC_URL }}profile.js"></script>
{% endblock %}

