{% extends 'base.html' %}
{% load avatartags %}
{% block title %}我的主页{% endblock %}

{% block css_link %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}travevller/profile.css">
{% endblock %}


{% block main_content %}
      <header class="jumbotron">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="{% get_avatar user 100 %}" alt="{{ user.name }}">
          </a>
          <div class="media-body">
            <h2 class="media-heading">{{ user.username }}</h2>

            <div class="pull-right">
              <p>Flower: 123</p>
              <p>Flowing: 123123</p>
            </div>
            <div>
              <button class="btn btn-default">关注</button>
                {% if is_current_user%}


    <p><br><br><br><br><br><a href="/accounts/profile/edit">edit</a></p>

{% else %}
    <p><br><br><br><br><br><a href="/follow/follower/add/{{ traveller.user.username }}">follow</a></p>
{% endif %}



            </div>
          </div>
        </div>
      </header>
      <div class="row">
        参与过的计划：
      </div>
    {% for p in created_plans %}
    <p><a href="{{ plan.get_absolute_url }}">{{ plan.title }}</a></p>
    {% endfor %}
    {% for p in participated_plans %}
    {{ p }}
    {% endfor %}
{% endblock %}

{% block js%}
    <script type="text/javascript" src="{{ STATIC_URL }}js/profile.js"></script>
{% endblock %}

