{% load url from future %}
<div class="alert alert-block alert-{{ notice.level }}">


  <h4>
    <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>
    {{ notice.actor }}
    {{ notice.verb }}
    {% if notice.target %}
      of {{ notice.target }}
    {% endif %}
  {{ notice.timesince }} ago
    {{ notice.data }}
{#  {% if notice.description == 'friend_request' %}#}
{#      (this is a friend request)  <a href="/friend/friend/requests/">check out here</a>#}
{#  {%  endif %}#}

  </h4>


{% if notice.unread %}
    <a class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">
    <i class="icon-close">mark as read</i>
  </a>
{% endif %}

</div>