{% extends "notifications/base.html" %} 
{% load i18n %}
{% load url from future %} 

{% block side_tab_bar %}
<ul class="nav nav-pills nav-stacked CT-sidetabbar" id="notifications-tabs">
  <li class="active">
    <a href="#unread" data-toggle="pill">
      <span class="badge pull-right" id="unread-badge">123</span>
      未读消息
    </a>
  </li><!-- /left-side-bar-column -->
  <li>
    <a href="#all" data-toggle="pill">
      所有消息
    </a>
  </li><!-- /left-side-bar-column -->
</ul><!-- /left-side-bar -->
{% endblock %}

{% block tab_contents %}
<div class="tab-content">
  <div class="tab-pane active fade in" id="unread">
    <ul class="media-list CT-list">
      <li class="media CT-notification-item">
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        <div class="media-body CT-notification-item-content">
          <h4 class="media-heading">
            <a href="people/zhangrui">张睿</a> 关注了你
          </h4>
        </div>
      </li>
      <li class="media CT-notification-item">
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        <div class="media-body CT-notification-item-content">
          <h4 class="media-heading">
            <a href="people/hyh">Forever Hu</a> 发给你一条<a href="">私信</a>
          </h4>
        </div>
      </li>
      <li class="media CT-notification-item">
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        <div class="media-body CT-notification-item-content">
          <h4 class="media-heading">
            <a href="people/zhangrui">DQ</a> wants to be your friend.
          </h4>
        </div>
      </li>
      <li class="media CT-notification-item">
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        <div class="media-body CT-notification-item-content">
          <h4 class="media-heading">
            <a href="people/zhangrui">Zhang Rui</a> wants to be your friend.
          </h4>
        </div>
      </li>
    </ul>
  </div><!-- /#unread -->
  <div class="tab-pane fade" id="all">
    
  </div><!-- /#all -->
</div>
{% endblock %}