{% extends 'base.html' %}


{% block css_link %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}login.css">
{% endblock %}


{% block main_content %}


		<!-- =====LOGIN===== -->
		<div class="container">
			<form class="form-login" role="form" method="POST" action="/accounts/login/?next=/">
                {% csrf_token %}
				<h2 class="form-login-heading text-center">登陆</h2>
				<input name="username" type="text" class="form-control" placeholder="用户名" required autofocus>
				<input name="password" type="password" class="form-control" placeholder="密码" required>
				<label class="checkbox">
					<input type="hidden" value="remember-me">
				</label>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
			</form>
		</div>

{% endblock %}
		<!-- jQuery core Javascript -->
    <script type="text/javascript" src="external/jQuery/jquery-1.10.2.js"></script>

    <!-- Bootstrap core Javascript -->
    <script type="text/javascript" src="external/Bootstrap/js/bootstrap.js"></script>

</html>